@{
    ViewBag.Title = "Contáctanos";
}
<h2>@ViewBag.Title.</h2>
<h3>Fárrago 584</h3>

<address>
    <dl class="dl-horizontal">
        <dt>
            Dirección:
        </dt>

        <dd>
            Jr. Belén #584
        </dd>
        <dt>
            Horario de Atención:
        </dt>

        <dd>
            Lunes a Domingo (10am - Media Noche)
        </dd>
        <dt>
            Administrador:
        </dt>

        <dd>
            Luis Quiroz Burga
        </dd>
        <dt>
            Celular:
        </dt>

        <dd>
            980655030
        </dd>
    </dl>
</address>

<address>
    <strong>Administración:</strong>   <a href="mailto:Support@example.com">admin@farrago.com</a><br />
    <strong>Ventas:</strong> <a href="mailto:Marketing@example.com">ventas@farrago.com</a>
</address>